﻿/**
 *
 * Pinstripes theme handheld.css
 * created by Fleur Helsingor on December 2, 2009
 *
 */

/* use this class to keep individual page elements or content from displaying on handheld devices */
.dontShow {
  display : none;
}

body {
  background-image : none;
  background-color : #fff;
  color : #000;
  font-family : arial, helvetica, sans-serif;
  font-size : 80%;
  width : 100%;
  margin : 0;
  border : none;
}

/* layout styles */

#logo, #logo-title {
  width : 100%;
}

#logo img {
  display : none;
}

#name-and-slogan {
  top  : 0;
}

#search-box {
  display : none;
}

#container {
  clear : both;
}

#navigation #primary {
  border-top: 1px solid #cc9;
  border-bottom: 1px solid #cc9;
  margin-left : 0px;
  padding-left : 0;
  padding-bottom : 2px;
  margin-bottom : 0px;
}

#navigation #secondary {
  text-align : left;
  margin-bottom : 24px;
}

#sidebar-left,
#main,
#sidebar-right {
  width : 100%;
}

#sidebar-left,
#sidebar-right {
  width : 100%;
}

/* XHTML elements */

p {
  padding : 0 0 1.4em 0;
  margin : 0px;
  line-height : 1.4em;
}

a:link {
  color : #369;
  text-decoration : none;
}

a:visited {
  color : #369;
  text-decoration : none;
}

a:hover {
  color : #996;
  text-decoration : underline;
}

a:active {
  color : #996;
  text-decoration : none;
}

div#page {
  padding : 0;
  margin : 0;
}

h1#site-name {
  font-size : 100%;
  margin-top : 6px;
  margin-bottom : 12px;
}

h1#site-name a,
h1#site-name a:link,
h1#site-name a:visited,
h1#site-name a:focus,
h1#site-name a:hover,
h1#site-name a:active {
  color : #369;
  text-decoration : none;
}

h1.title {
  color : #333;
  font-size : 100%;
  font-weight : bold;
  margin-top : 12px;
  border-bottom : 4px solid #cc9;
  margin-bottom : 9px;
}

h2, h2.title {
  font-size : 90%;
  margin-top : 12px;
  margin-bottom : 6px;
}

h3 {
  font-size : 85%;
  margin-top : 12px;
}

#site-slogan {
  color : #333;
  margin-bottom : 12px;
}

#mission {
  font-size : 100%;
  font-weight : bold;
  color : #663;
  margin-top : 6px;
  margin-bottom : 12px;
}

.sidebar {
  font-size : 95%;
}

#user-login-form {
  text-align : left;
}

#breadcrumb{
  margin : 0px;
  padding-left : 6px;
  padding-top : 6px;
  font-size: 85%;
}

div.meta,
div.feed-item-meta {
  font-size : 85%;
}

#aggregator,
#tracker {
  line-height: 1.4;
}

#footer {
  text-align : left;
  font-size : 90%;
  margin-top : 24px;
  border-top : 2px solid #cc9;
}

#footer img {
  display : none;
}

#footertheme {
  font-size : 100%;
}

/* redraw any two-column layouts in the Content column so that the content displays in one column */
.leftColumn, .rightColumn, .aboutLibraryL, .aboutLibraryR {
  width : 100%;
}

/* if the Administration Menu is enabled, don't display it */
#admin-menu {
  display : none;
}

/* use this style if a page section is intended for printing only */
/* and should not be displayed in any other media */
.printOnly {
  display : none;
}
