﻿/**
 *
 * Pinstripes theme print.css
 * created by Fleur Helsingor on December 2, 2009
 *
 */

/* use these styles to suppress the printing of any page elements that don't need to be printed */
.hideThis, .dontPrint {
  display : none;
}

body {
  background-image : none;
  background-color : #fff;
  color : #000;
  font-family : arial, helvetica, sans-serif;
  width : 100%;
  font-size : 80%;
  margin : 0;
  border : none;
}

/* layout styles */

#logo-title {
  float : left;
  width : 100%;
  padding-bottom : 12px;
}

#logo {
  float : left;
  position : relative;
  z-index : 20;
}

#logo img {
  display : block;
}

#name-and-slogan {
  position : relative;
  top  : 6px;
  left : 12px;
  z-index : 10;
}

#search-box {
  display : none;
}

#container {
  clear : both;
}

#navigation #primary {
  display : none;
}

#navigation #secondary {
  text-align : left;
  padding-bottom : 12px;
}

#main, #content {
  width : 100%;
}

#sidebar-left,
#sidebar-right {
  width : 0;
}

/* XHTML elements */

p {
  padding : 0 0 1.4em 0;
  margin : 0px;
  line-height : 1.4em;
}

a:link {
  color : #369;
  text-decoration : none;
}

a:visited {
  color : #369;
  text-decoration : none;
}

a:hover {
  color : #996;
  text-decoration : underline;
}

a:active {
  color : #996;
  text-decoration : none;
}

div#page {
  padding : 0;
  margin : 0;
}

h1#site-name {
  font-size : 2em;
  letter-spacing : 2px;
  margin-top : .3em;
  margin-bottom : 0;
}

h1#site-name a,
h1#site-name a:link,
h1#site-name a:visited,
h1#site-name a:focus,
h1#site-name a:hover,
h1#site-name a:active {
  color : #369;
  text-decoration : none;
}

h1.title {
  color : #333;
  font-size : 125%;
  font-weight : bold;
  padding-top : 24px;
  border-bottom : 4px solid #cc9;
  margin-bottom : 9px;
}

h2, h2.title {
  font-size : 112%;
  margin-top : 24px;
  margin-bottom : .7em;
}

h3 {
  font-size : 100%;
  margin-top : 24px;
}

#site-slogan {
  color : #663;
  margin-bottom : 24px;
}

#mission {
  font-size : 100%;
  font-weight : bold;
  color : #663;
  margin-top : 12px;
  margin-bottom : 24px;
}

.sidebar {
  display : none;
}

#user-login-form {
  display : none;
}

#breadcrumb{
  margin : 0px;
  padding : 0px;
  font-size : 85%;
}

div.meta,
div.feed-item-meta {
  font-size : 85%;
}

#aggregator,
#tracker {
  line-height: 1.4;
}

#footer {
  text-align : left;
  font-size : 90%;
  margin-top : 24px;
  border-top : 2px solid #cc9;
}

#footer img {
  vertical-align : bottom;
}

#footertheme {
  font-size : 100%;
}

/* for any two-column layouts in the Content column */
.leftColumn, .rightColumn {
  float : left;
  width : 46%;
}

/* if the Administration Menu is in use, don't print it */
#admin-menu {
  display : none;
}

/* if a page section is intended for display only on a handheld or mobile device, don't print it */
.handheldOnly {
  display : none;
}
